.logo {
  width: 100px;
  aspect-ratio: 1;
}

#nameIncome:invalid,
#nameExpense:invalid,
#valueExpense:invalid,
#valueIncome:invalid {
  border: 2px solid crimson;
}

.border {
  border: 1px solid black;
}

.title {
  font-size: 30px;
  margin: 15px;
}

.text-bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 15px auto;
}

.balance-section {
  text-align: center;
  padding: 15px;
}

.display-currency::after {
  content: " zł";
}

.display-separator::after {
  content: " - ";
}

.main-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.sub-section {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 100%;
}

.header {
  font-size: 24px;
  margin: 5px;
}

.header-incomes {
  color: lightgreen;
}

.header-expenses {
  color: lightcoral;
}

.form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 5px;
}

.form-element {
  padding: 5px;
}

.form-element-name {
  width: 180px;
}

.form-element-value {
  width: 60px;
}

.incomes-button {
  background-color: lightgreen;
}

.expenses-button {
  background-color: lightcoral;
}

.li-wrapper {
  display: flex;
  flex-direction: row;
}

.item-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 960px) {
  .container {
    width: 960px;
  }
  .main-section {
    flex-direction: row;
  }

  .sub-section {
    width: 450px;
  }
}
