.logo {
  width: 100px;
  aspect-ratio: 1;
}

.border {
  border: 1px solid black;
}

.text-bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 5px auto;
}

#info {
  text-align: center;
}

.display-currency::after {
  content: " zł";
}

.display-separator::after {
  content: " - ";
}

.main-section {
  display: flex;
  flex-direction: column;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 5px;
}

.header {
  font-size: 24px;
  margin: 5px;
}

.header-incomes {
  color: lightgreen;
}

.header-expenses {
  color: lightcoral;
}

.form {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.form-element {
  margin: 3px;
  padding: 5px;
}

.form-element-name {
  width: 180px;
}

.form-element-value {
  width: 60px;
}

.form-incomes > button {
  background-color: lightgreen;
}

.form-expenses > button {
  background-color: lightcoral;
}

.li-wrapper {
  display: flex;
  flex-direction: row;
}

.item-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.hidden {
  display: none;
}
